<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment Tracker</title>
    <!-- link to style.css for CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- Top right nav bar to navigate different pages of program-->
    <nav data-logged-in="{{ 'true' if session.get('user_id') else 'false' }}">
        <span class="nav-brand">Assignment Tracker</span>
        <a href="/" id="nav-home">Home</a>
        <a href="/login" id="nav-login">Login</a>
        <a href="/register" id="nav-register">Register</a>
        <a href="/timer" id="nav-timer">Timer</a>
        <a href="/docs" id="nav-docs">Docs</a>
        <a href="/logout" id="nav-logout">Logout</a>
    </nav>

    <div class="container">

        <!-- Main flash skeleton using built-in Flask function to fetch flash messages-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flash-messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block body %}{% endblock %}

    </div>

    <!-- link to script.js -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
